.container{
    width: 1170px;
    height: auto;
    margin: auto;
}
.container.header{
    width: 1170px;
    height: 200px;
    margin: auto;
    background-color: #180a0a;
}
.container .contentrow .content1{
    width: 500px;
    height: 200px;
    margin: auto;
    background-color:rgb(12, 1, 1);
    float: left;
}
.container .contentrow .content2{
    width: 200px;
    height: 200px;
    margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
    background-color: #0c6be8;
    float: left;
}
.container .contentrow .content3{
    width: 500px;
    height: 200px;
    margin: auto;
    background-color:#f20df2;
    float: left;
}
.container .contentrow .content4{
    width: 100px;
    height: 200px;
    margin: auto;
    background-color:#2cf20d;
    float: left;
}
.container .contentrow .content5{
    width: 100px;
    height: 200px;
    margin: auto;
    background-color:#f23f0d;
    float: left;
}



